.append-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    padding: 12px 12px;
    border-radius: 0.25rem;
    font-size: 13px;
    font-weight: 500;
    color: #adafb3;
    text-transform: uppercase;
}
.append-button:hover {
    background-color: #fcfcfc;
}
.append-button > .icon {
    color: #93989f;
    font-size: 20px;
}
