.header-main {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    margin-top: 16px;
}
.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #f20000;
    display: flex;
    align-items: center;
}
.header-logo > img {
    height: 22px;
    margin-right: 6px;
}
.header-menu {
    font-size: 13px;
    font-weight: 500;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-transform: uppercase;
}
.header-main > .username {
    display: flex;
    align-items: center;
    color: #adafb3;text-transform: lowercase;
    font-weight: 500;font-size: 15px;
}
.header-main > .username > span:first-child {
    margin-right: 4px;
}
